<ion-footer class="main-footer">
  <!-- <ion-toolbar >
      <ion-grid>
        <ion-label padding >
          <span class="power_by_text" style="padding-right: 5px;">Powered By:</span>
          <a class="powerby" href="https://rnjcs.in/?utm_source=&utm_medium=footer" target="_blank">
            RNJ Consultancy Services
          </a>
        </ion-label>
      </ion-grid>
  </ion-toolbar> -->
  <div class="footer-menu">
    <div style="color: grey; font-size: 10px;" class="footer-tabs">
      <!-- <div style="color: var(--ion-color-orange);" class="item-inner" [ngClass]="{'active': routerLink == '/home'}" (click)="goToPage('home', '')">
        <mat-icon class="example-tab-icon">home</mat-icon>
        <span>Home</span>
      </div>
      <div style="color: var(--ion-color-red);" class="item-inner" [ngClass]="{'active': routerLink == '/dashboard'}" (click)="goToPage('dashboard', '')">
        <mat-icon class="example-tab-icon">dashboard</mat-icon>
        <span>Test Dashboard</span>
      </div>
      <div style="color: var(--ion-color-tertiary);" class="item-inner" [ngClass]="{'active': routerLink == '/product'}" (click)="goToPage('product', '')">
        <mat-icon class="example-tab-icon">category</mat-icon>
        <span>Products</span>
      </div>
      <div style="color: var(--ion-color-green);" class="item-inner" [ngClass]="{'active': routerLink == '/profile-details'}" (click)="goToPage('profile-details', '')">
        <mat-icon class="example-tab-icon">account_box</mat-icon>
        <span>Account</span>
      </div> -->
      <div style="color: grey;" class="item-inner" [ngClass]="{'active': routerLink == '/home'}" (click)="goToPage('home', '')">
        <mat-icon class="example-tab-icon">home</mat-icon>
        <span>Home</span>
      </div>
      <div style="color: grey;" class="item-inner" [ngClass]="{'active': routerLink == '/dashboard'}" (click)="goToPage('dashboard', '')">
        <mat-icon class="example-tab-icon">dashboard</mat-icon>
        <span>Test Dashboard</span>
      </div>
      <div style="color: grey;" class="item-inner" [ngClass]="{'active': routerLink == '/product'}" (click)="goToPage('product', '')">
        <mat-icon class="example-tab-icon">category</mat-icon>
        <span>Products</span>
      </div>
      <div style="color: grey;" class="item-inner" [ngClass]="{'active': routerLink == '/profile-details'}" (click)="goToPage('profile-details', '')">
        <mat-icon class="example-tab-icon">account_box</mat-icon>
        <span>Account</span>
      </div>
    </div>
  </div>            
</ion-footer>
